html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", serif;
  margin: 0px;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(BGJPEG.jpg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Varför ska man ha en maximal bredd definierad i pixlar */
}

.header {
  text-align: center;
}

h1 {
  margin: 15px 0;
  color: #ffeace;
  font-size: 6em;
  font-weight: 400;
}

p {
  margin: 0 auto;
  max-width: 500px;
  color: #ffeace;
  font-size: 1.5em;
}

.links {
  margin: 50px auto;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.2s;
}

.links a {
  margin-top: 50px;
  color: #f5ceae;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.7em;
}

.links:hover {
  transform: scale(1.1);
}

#arrow {
  margin-top: 20px;
  width: 30px;
  height: 30px;
}

.about-section {
  background-color: #402e32;
}

#about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  margin: 0;
  color: #ffeace;
  font-size: 4em;
  font-weight: 400;
}

#left-half {
  text-align: center;
}

#right-half {
  width: 37%;
  height: auto;
}
#right-half img {
  width: 100%;
  height: auto;
}
