html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", serif;
  margin: 0px;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(BGJPEG.jpg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Varför ska man ha en maximal bredd definierad i pixlar */
}

.header {
  text-align: center;
}

h1 {
  margin: 15px 0;
  color: #ffeace;
  font-size: 6em;
  font-weight: 400;
}

p {
  margin: 0 auto;
  max-width: 500px;
  color: #ffeace;
  font-size: 1.3em;
}

.links {
  margin: 50px auto;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.2s;
}

.links a {
  margin-top: 50px;
  color: #f5ceae;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.7em;
}

.links:hover {
  transform: scale(1.1);
}

#arrow {
  margin-top: 20px;
  width: 30px;
  height: 30px;
}

.about-section {
  background-color: #402e32;
  position: relative;
  height: 100vh;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0%;
  overflow: hidden;
  z-index: 0;
}
.image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

h2 {
  margin: 0 0 25px 0;
  color: #ffeace;
  font-size: 4em;
  font-weight: 400;
}

.about-container p {
  max-width: 80%;
}

.about-text {
  width: 70%;
  padding: 40px 20px;
  background-color: #402e32cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  z-index: 10;
}

#link-text {
  margin-top: 30px;
  width: 130px;
}

#link-text a {
  text-decoration: none;
  font-size: 1.2em;
  color: #f5ceae;
}

/* For hover effect */
#link-text a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #f5ceae;
  transition: ease-in-out 0.2s;
  margin-top: 5px;
}
#link-text a:hover::after {
  width: 100%;
  transition: ease-in-out 0.2s;
}

@media screen and (max-width: 650px) {
  .about-text {
    width: 100%;
  }
  .about-container p {
    max-width: 100%;
  }

  h1 {
    font-size: 3.7em;
  }

  h2 {
    margin: 0 0 50px 0;
    font-size: 3em;
  }

  p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
  }
}
