#reasons-container ul {
  margin-top: 30px;
  list-style-type: none;
  padding-inline-start: 0;
}

#reasons-container li {
  width: 150px;
  margin: 0 auto;
  display: inline-block;
  color: #f5ceae;
  font-size: 1.3em;
}

#we-are {
  font-weight: 500;
}

#reasons-bg {
  z-index: -1;
}

#reasons-container {
  max-height: 100vh;
}

@media screen and (max-width: 1024px) {
  #reasons-container li {
    margin: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  #reasons-header {
    font-size: 2.8em;
  }
  #reasons-container li {
    width: 135px;
  }
}

@media screen and (max-width: 650px) {
  #reasons-container li {
    margin-top: 10px;
    display: block;
    font-size: 1em;
  }
}

@media screen and (max-width: 375px) {
  #reasons-header {
    font-size: 1.7em;
  }
}
